body{
    font-family:Arial, Helvetica, sans-serif;
    color: black;
    font-size: 16px;
    background-color: rgb(161, 210, 230);
}

.bold{
    font-weight: bold;
}

.listheading{
    font-size: 18px;
    text-decoration: underline;
    font-weight: bold;
}

.tableau{
    text-align: center;
    font-size: 20px;
}

.website{
    float: right;
    padding-right: 15px;
    line-height: 25px;
}

a{
    color: rgb(59, 59, 59);
}

.header{
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    height: 30px;
    background-color: rgb(26, 175, 234);
    border-bottom: solid 3px black;
}

.headertext{
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding-top: 5px;
}

.footer{
    position: static;
    bottom: 0px;
    right: 0px;
    left: 0px;
    height: 20px;
    background-color: rgb(26, 175, 234);
    border-top: solid 3px black;
}